body {
    padding: 0;
    margin: 0;
  }
  form {
    max-width: 30em;
    margin: 4em auto;
    position: relative;
    background: #f4f4f4;
    padding: 2em 3em;
  }
  form h1 {
    font-family: "Raleway";
    color: #f97300;
  }
  form input[type="text"]::placeholder {
    font-family: "Raleway";
    color: #666;
  }
  form .data {
    margin-top: 1em;
  }
  form .data li {
    background: #fff;
    border-left: 4px solid #f97300;
    padding: 1em;
    margin: 1em auto;
    color: #666;
    font-family: "Raleway";
  }
  form .data li i {
    float: right;
    color: #888;
    cursor: pointer;
  }
  form .input-group-text i {
    font-size: 2em;
  }
  form .form-control {
    height: 3em;
    font-family: "Raleway";
  }
  form .form-control:focus {
    box-shadow: 0;
  }